/** Add css rules here for your application. */
* {
	font-family: arial, helvetica, tahoma, sans-serif;
}

#loading {
	position: absolute;
	margin-left: -75px;
	margin-top: -25px;
	width: 150px;
	left: 50%;
	top: 50%;
	padding: 2px;
	z-index: 20001;
	border: 1px solid #ccc;
}

#loading .loading-indicator {
	background: #eef;
	font: bold 13px/50px tahoma, arial, helvetica;
	height: 50px;
	padding: 0 10px;
	margin: 0;
	color: #444;
}

#loading .loading-indicator img {
	margin-right: 8px;
	vertical-align: middle;
}

#loading-msg {
	font: normal 10px arial, tahoma, sans-serif;
}

.lessons-title {
	background: blue;
	color: white;
	font-family: tahoma, arial, sans-serif;
	font-size: 16px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	padding: 6px 0 8px 6px;
}